mobile/server/n8n/cursor-ai-news-newsletter.json
{
  "name": "Cursor AI News Newsletter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cursor-newsletter",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Ingest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "cursor-newsletter"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "id": "schedule-daily",
      "name": "Daily 9am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cursorunofficialnews.fly.dev/v1/newsletter/export",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Secret", "value": "={{ $env.INGEST_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ newItems: $json.newItems || [], recentLimit: 15 }) }}",
        "options": {}
      },
      "id": "fetch-export",
      "name": "Fetch Subscribers + Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 200]
    },
    {
      "parameters": {
        "fieldToSplitOut": "subscribers",
        "options": {}
      },
      "id": "split-subscribers",
      "name": "Split Subscribers",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [520, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ ($json.matchingNewItems || []).length + ($json.matchingRecentItems || []).length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-has-items",
      "name": "Has Matching Items",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cursorunofficialnews.fly.dev/v1/newsletter/generate-html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Secret", "value": "={{ $env.INGEST_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, unsubscribeUrl: $json.unsubscribeUrl, matchingNewItems: $json.matchingNewItems || [], matchingRecentItems: $json.matchingRecentItems || [] }) }}",
        "options": { "timeout": 180000 }
      },
      "id": "cursor-html",
      "name": "Generate HTML (Composer 2.5)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Cursor AI News <notifications@cursorunofficial.news>', to: [$('Has Matching Items').item.json.email], subject: 'Cursor AI News — Latest headlines', html: $json.html }) }}",
        "options": {}
      },
      "id": "send-resend",
      "name": "Send via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 200]
    }
  ],
  "connections": {
    "Ingest Webhook": { "main": [[{ "node": "Fetch Subscribers + Items", "type": "main", "index": 0 }]] },
    "Daily 9am ET": { "main": [[{ "node": "Fetch Subscribers + Items", "type": "main", "index": 0 }]] },
    "Fetch Subscribers + Items": { "main": [[{ "node": "Split Subscribers", "type": "main", "index": 0 }]] },
    "Split Subscribers": { "main": [[{ "node": "Has Matching Items", "type": "main", "index": 0 }]] },
    "Has Matching Items": { "main": [[{ "node": "Generate HTML (Composer 2.5)", "type": "main", "index": 0 }]] },
    "Generate HTML (Composer 2.5)": { "main": [[{ "node": "Send via Resend", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "America/New_York" },
  "active": false,
  "meta": {
    "notes": "Import in n8n UI. Set n8n env INGEST_SECRET and RESEND_API_KEY. Set Fly secret CURSOR_API_KEY on the API server (Composer 2.5). Activate workflow, then set N8N_NEWSLETTER_WEBHOOK_URL to your webhook production URL."
  }
}
