docs/n8n/cursor-ai-news-newsletter.workflow.json
{

  "name": "Cursor AI News Newsletter",

  "nodes": [

    {

      "parameters": {

        "httpMethod": "POST",

        "path": "cursor-newsletter",

        "authentication": "headerAuth",

        "responseMode": "responseNode",

        "options": {}

      },

      "id": "eb92ccce-76c6-445e-9172-6aa48f4ab63e",

      "name": "Ingest Webhook",

      "type": "n8n-nodes-base.webhook",

      "typeVersion": 2.1,

      "position": [1456, 640],

      "webhookId": "cursor-newsletter",

      "credentials": {

        "httpHeaderAuth": {

          "id": "zI1IYp7XIqwyvkCC",

          "name": "Cursor AI News Webhook Secret"

        }

      },

      "onError": "continueRegularOutput"

    },

    {

      "parameters": {

        "respondWith": "json",

        "responseBody": "={{ JSON.stringify({ ok: true, status: 'accepted', event: 'newsletter_digest' }) }}",

        "options": {

          "responseCode": 202,

          "responseHeaders": {

            "entries": [

              {

                "name": "Content-Type",

                "value": "application/json"

              }

            ]

          }

        }

      },

      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",

      "name": "Respond Webhook Accepted",

      "type": "n8n-nodes-base.respondToWebhook",

      "typeVersion": 1.5,

      "position": [1600, 640]

    },

    {

      "parameters": {

        "respondWith": "json",

        "responseBody": "={{ JSON.stringify({ ok: false, error: ($json.error && $json.error.message) || $json.message || 'Newsletter workflow failed' }) }}",

        "options": {

          "responseCode": 500,

          "responseHeaders": {

            "entries": [

              {

                "name": "Content-Type",

                "value": "application/json"

              }

            ]

          }

        }

      },

      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",

      "name": "Respond Webhook Error",

      "type": "n8n-nodes-base.respondToWebhook",

      "typeVersion": 1.5,

      "position": [3184, 800]

    },

    {

      "parameters": {

        "conditions": {

          "options": {

            "caseSensitive": true,

            "leftValue": "",

            "typeValidation": "strict",

            "version": 2

          },

          "conditions": [

            {

              "id": "webhook-triggered",

              "leftValue": "={{ $('Ingest Webhook').isExecuted }}",

              "operator": {

                "operation": "true",

                "singleValue": true,

                "type": "boolean"

              }

            }

          ],

          "combinator": "and"

        },

        "options": {}

      },

      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",

      "name": "If Webhook Error Response",

      "type": "n8n-nodes-base.if",

      "typeVersion": 2.3,

      "position": [2944, 800]

    },

    {

      "parameters": {

        "rule": {

          "interval": [

            {

              "field": "cronExpression",

              "expression": "0 9 * * *"

            }

          ]

        }

      },

      "id": "ac8b6cf8-e827-468b-ba8a-23a199f2245d",

      "name": "Daily 9am ET (DISABLED — use Worker 1pm CT digest)",

      "type": "n8n-nodes-base.scheduleTrigger",

      "typeVersion": 1.3,

      "position": [1456, 432],

      "disabled": true,

      "notes": "Disabled 2026-07-03: Worker cron sends one daily digest at 1pm America/Chicago (DIGEST_HOURS=13). Re-enable only if you want a separate n8n-only morning send."

    },

    {

      "parameters": {

        "method": "POST",

        "url": "https://cursorunofficial.news/api/v1/newsletter/export",

        "authentication": "genericCredentialType",

        "genericAuthType": "httpHeaderAuth",

        "sendHeaders": true,

        "headerParameters": {

          "parameters": [

            {

              "name": "Content-Type",

              "value": "application/json"

            }

          ]

        },

        "sendBody": true,

        "specifyBody": "json",

        "jsonBody": "={{ JSON.stringify({ newItems: $('Ingest Webhook').isExecuted ? ($('Ingest Webhook').first().json.newItems || []) : [], recentLimit: 15 }) }}",

        "options": {}

      },

      "id": "f103fea0-9be6-46f8-9645-7ba7f7c496fc",

      "name": "Fetch Subscribers + Items",

      "type": "n8n-nodes-base.httpRequest",

      "typeVersion": 4.4,

      "position": [1744, 544],

      "credentials": {

        "httpHeaderAuth": {

          "id": "txNfHCQHm2KBHTJX",

          "name": "Cursor AI News API Secret"

        }

      },

      "retryOnFail": true,

      "maxTries": 3,

      "waitBetweenTries": 2000,

      "alwaysOutputData": true,

      "onError": "continueErrorOutput"

    },

    {

      "parameters": {

        "fieldToSplitOut": "subscribers",

        "options": {}

      },

      "id": "17559276-72fc-4fbd-8a87-63d5cb682cd2",

      "name": "Split Subscribers",

      "type": "n8n-nodes-base.splitOut",

      "typeVersion": 1,

      "position": [1984, 544]

    },

    {

      "parameters": {

        "conditions": {

          "options": {

            "caseSensitive": true,

            "leftValue": "",

            "typeValidation": "strict",

            "version": 2

          },

          "conditions": [

            {

              "id": "has-items",

              "leftValue": "={{ ($json.digestSections || []).reduce((sum, section) => sum + (section.items || []).length, 0) || (($json.matchingNewItems || []).length + ($json.matchingRecentItems || []).length) }}",

              "rightValue": 0,

              "operator": {

                "type": "number",

                "operation": "gt"

              }

            }

          ],

          "combinator": "and"

        },

        "options": {}

      },

      "id": "0d02858e-ba4d-4e74-a439-49e476fc5dfd",

      "name": "Has Matching Items",

      "type": "n8n-nodes-base.filter",

      "typeVersion": 2.3,

      "position": [2224, 544]

    },

    {

      "parameters": {

        "method": "POST",

        "url": "https://cursorunofficial.news/api/v1/newsletter/generate-html",

        "authentication": "genericCredentialType",

        "genericAuthType": "httpHeaderAuth",

        "sendHeaders": true,

        "headerParameters": {

          "parameters": [

            {

              "name": "Content-Type",

              "value": "application/json"

            }

          ]

        },

        "sendBody": true,

        "specifyBody": "json",

        "jsonBody": "={{ JSON.stringify({ email: $json.email, unsubscribeUrl: $json.unsubscribeUrl, digestSections: $json.digestSections || [], officialOnly: $json.officialOnly, subscriber: { email: $json.email, officialOnly: $json.officialOnly, categories: $json.categories || [], categoryLimits: $json.categoryLimits || {} }, matchingNewItems: ($json.digestSections || []).length ? [] : ($json.matchingNewItems || []), matchingRecentItems: ($json.digestSections || []).length ? [] : ($json.matchingRecentItems || []) }) }}",

        "options": {

          "timeout": 180000

        }

      },

      "id": "13fbdbee-1fd7-49ca-b734-d099d3535074",

      "name": "Generate HTML (Composer 2.5)",

      "type": "n8n-nodes-base.httpRequest",

      "typeVersion": 4.4,

      "position": [2464, 544],

      "credentials": {

        "httpHeaderAuth": {

          "id": "txNfHCQHm2KBHTJX",

          "name": "Cursor AI News API Secret"

        }

      },

      "retryOnFail": true,

      "maxTries": 2,

      "waitBetweenTries": 5000,

      "alwaysOutputData": true,

      "onError": "continueErrorOutput"

    },

    {

      "parameters": {

        "method": "POST",

        "url": "https://api.resend.com/emails",

        "authentication": "genericCredentialType",

        "genericAuthType": "httpHeaderAuth",

        "sendHeaders": true,

        "headerParameters": {

          "parameters": [

            {

              "name": "Content-Type",

              "value": "application/json"

            }

          ]

        },

        "sendBody": true,

        "specifyBody": "json",

        "jsonBody": "={{ JSON.stringify({ from: 'Cursor AI News <notifications@cursorunofficial.news>', to: [$('Has Matching Items').item.json.email], subject: $json.subject || 'Unofficial Cursor News · Latest headlines', html: $json.html }) }}",

        "options": {}

      },

      "id": "4e8f29af-f7a6-413b-a80d-13622f61b5f1",

      "name": "Send via Resend",

      "type": "n8n-nodes-base.httpRequest",

      "typeVersion": 4.4,

      "position": [2704, 544],

      "credentials": {

        "httpHeaderAuth": {

          "id": "fLBUkP6skcNBkiXJ",

          "name": "Resend API"

        }

      },

      "retryOnFail": true,

      "maxTries": 3,

      "waitBetweenTries": 2000,

      "alwaysOutputData": true,

      "onError": "continueErrorOutput"

    }

  ],

  "connections": {

    "Ingest Webhook": {

      "main": [

        [

          {

            "node": "Respond Webhook Accepted",

            "type": "main",

            "index": 0

          },

          {

            "node": "Fetch Subscribers + Items",

            "type": "main",

            "index": 0

          }

        ]

      ]

    },

    "Daily 9am ET (DISABLED — use Worker 1pm CT digest)": {

      "main": [

        [

          {

            "node": "Fetch Subscribers + Items",

            "type": "main",

            "index": 0

          }

        ]

      ]

    },

    "Fetch Subscribers + Items": {

      "main": [

        [

          {

            "node": "Split Subscribers",

            "type": "main",

            "index": 0

          }

        ]

      ],

      "error": [

        [

          {

            "node": "If Webhook Error Response",

            "type": "main",

            "index": 0

          }

        ]

      ]

    },

    "Split Subscribers": {

      "main": [

        [

          {

            "node": "Has Matching Items",

            "type": "main",

            "index": 0

          }

        ]

      ]

    },

    "Has Matching Items": {

      "main": [

        [

          {

            "node": "Generate HTML (Composer 2.5)",

            "type": "main",

            "index": 0

          }

        ]

      ]

    },

    "Generate HTML (Composer 2.5)": {

      "main": [

        [

          {

            "node": "Send via Resend",

            "type": "main",

            "index": 0

          }

        ]

      ],

      "error": [

        [

          {

            "node": "If Webhook Error Response",

            "type": "main",

            "index": 0

          }

        ]

      ]

    },

    "Send via Resend": {

      "error": [

        [

          {

            "node": "If Webhook Error Response",

            "type": "main",

            "index": 0

          }

        ]

      ]

    },

    "If Webhook Error Response": {

      "main": [

        [

          {

            "node": "Respond Webhook Error",

            "type": "main",

            "index": 0

          }

        ]

      ]

    }

  },

  "settings": {

    "executionOrder": "v1",

    "binaryMode": "separate",

    "availableInMCP": false

  },

  "meta": {

    "templateCredsSetupCompleted": true,

    "instanceId": "AWUxJU3oVLNzP2Op"

  },

  "tags": []

}

